<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-primary"> {{ 'taller pipes angular'  | titlecase}} </h1>
    </div>

  </div>
</div>
<br>
<br>

<div class="container">
  <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Texto Sin Pipe</th>
      <th scope="col">Texto Con pipe</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>no se me ocurre nada...</td>
      <td>{{ 'no se me ocurre nada...'  | titlecase}}</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>ejemplo mayusculas pipes</td>
      <td>{{ 'ejemplo mayusculas pipes'  | titlecase}}</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td > {{fecha3MinAtras | date : "medium"}} </td>
      <td> {{fecha3MinAtras | pipe1Hora }}</td>
    </tr>
  </tbody>
</table>
</div>




